@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-color: black;
	--background: white;
}

/* dark theme */
/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --text-color: white; */
/* --background: black; */
/* } */
/* } */

body {
	color: var(--text-color);
	background: var(--background);
	/* line-height: 1.2; */
	font-size: 16px;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}